.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.header{
  background-color: rgb(215, 48, 39);
  height: 50px;
 line-height: 50px;

}

.header .nav{
  padding-right: 100px;
  color: #fff;
  padding-left: 100px
}

.header .nav a {
  padding-right: 5px;
  float: right;
  line-height: 50px;
  text-decoration: none;
}

.header .nav a:visited {
  color: #fff;
}

.header #nav-title {
  font-size: 18pt;
  width: 50%;
  margin:0;
  padding: 0;
  display: inline;
}

body, select, input, textarea {  
    color: #444;  
    font-family: Helvetica, Arial, sans-serif; 
    background-color: #E8E8E8;
}  

.container {
  margin: 20px auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 2px solid orange;
  background-color: skyblue;
  border-radius: 20px;
   
}
th {
  text-align: left;
}

#submit_button {
  background-color: #FF9966;
  border: 1px solid orange;
  border-radius: 10px;
}

li {
  font-size: 12px;
}

img {
  display: block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 15px;
}


h1, h2 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

h3 {
  font-family: Helvetica, Arial, sans-serif;
}
#click{
  font-size: 10px;
  font-style: italic;
}

#card{
  width: 680px;
  height: 300px;
  margin:0 auto;
  border: 1px solid;
  display: table;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ECF0F1;
  -webkit-box-shadow: 7px 7px 19px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 19px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 19px rgba(50, 50, 50, 0.75);
}

#card-content{
  margin:auto; 
  display:table-cell; 
  vertical-align:middle;
}
#card-content p{
   text-align: center;
   font-size: 30px;
   font-family: sans-serif;
   padding-right: 40px;
   padding-left: 40px
  }

#buttons {
  background-color: red;
}
#card-nav{
  margin:0 auto;
  padding-top:30px;
  width: 680px;
  text-align: center;
}

#deck-name {
  margin-top: 150px;
}

.button {
  background-color: rgb(69, 117, 180);
  margin: 20px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 19px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 19px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 19px rgba(50, 50, 50, 0.75);
}

.green {
  background-color: rgb(12, 227, 255); 
}

.red {
  background-color: rgb(252, 141, 89);
}

  
