<div id='deck-name'>
  <h2><%= @card.deck.name.capitalize %></h2>
</div>

<div id='card'>
  <div id='card-content'>
    <p><%= @card.front %>dfgd fdfg asdfsdf sdf sd sddf sdf alskdjf;as kjdf;laskdjf;lak sjdf;a;slkddfksd  kdjf</p>
  </div>
</div>


<div id='card-nav'>
  <a href="#" class='button' id='flip-card'>Flip Card</a>
  <a href="#" class='button green' id='flip-card'>Right!</a>
  <a href="#" class='button red' id='flip-card'>Wrong :-(</a>
</div>

